.env
*.env
.env.*

# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/

# Database
*.db
*.sqlite3

# Node / Next.js
node_modules/
.next/
/out/
/build

# Misc
.DS_Store
*.pem
*.bak
*.backup
*.old

# IDE
.vscode/settings.json
